@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600&display=swap');


h1,
h2,
h3{
  font-family: 'Bebas Neue', cursive;
}

h4,
h5,
h6,
p{
  font-family: 'Poppins', sans-serif;
}

.hero-text h1{
    text-shadow: 5px 2px rgba(0, 0, 0, 0.503);
}
.hero-button{
  padding: 10px 50px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(255, 255, 255);
  background-color: aliceblue !important;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;  background-color: rgb(240, 46, 169);
  color: rgb(0, 0, 0);
}

.appBar{
  min-height: 100vh;
}

#carta{
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px!important;
  font-family: 'Poppins';
}

.hero-text{
  font-size: 40px;
  color: aliceblue;
}