* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px auto;
    border: 2px solid #ff7675;
    padding: 14px 0px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    max-width: 300px;
    text-align: center;
  }
  .btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn::before{
    width: 0%;
    height: 100%;
  }
  
  .btn:hover::before{
    width: 100%;
  }
  